PUBLIC_SITE_URL=https://your-domain.example.com
PUBLIC_TURNSTILE_SITE_KEY=0xAAAAAAAAAAAAAAAAAAAAAA
BACKEND_API_URL=http://localhost:7001/api/YOUR_PREFIX
BACKEND_API_SCHEMA=Utilitie
BACKEND_API_ENTITY=FastLink
BACKEND_API_AUTH_BASIC=your_user:your_password
